In [1]:
import pandas as pd

In [2]:
gerbong = pd.read_csv('data-gerbongan.csv')

In [3]:
data = gerbong.copy()

In [4]:
target = 'hasil'

In [5]:
encode = ['Boffer Fixed', 'DIPO']

In [6]:
data.tail()

           hasil DIPO Boffer Fixed    DS  DU  TAR
235        layak  RJS        Rusak  10.0  15   75
236        layak  RJS        Rusak  10.0  15   75
237        layak  RJS        Rusak  10.0  15   75
238  tidak_layak  RJS        Rusak  50.0  15   75
239        layak  RJS         Baik  10.0  15   75

In [7]:
for col in encode:
    dummy = pd.get_dummies(data[col], prefix=col)
    data = pd.concat([data,dummy], axis=1)
    del data[col]

In [8]:
data.tail()

,hasil,DS,DU,TAR,Boffer Fixed_Baik,Boffer Fixed_Rusak,DIPO_MRL,DIPO_RJS
235,layak,10.0,15,75,0,1,0,1
236,layak,10.0,15,75,0,1,0,1
237,layak,10.0,15,75,0,1,0,1
238,tidak_layak,50.0,15,75,0,1,0,1
239,layak,10.0,15,75,1,0,0,1

In [9]:
target_mapper = {'layak':0, 'tidak_layak':1}

In [10]:
def target_encode(val):
    return target_mapper[val]

In [11]:
data['hasil'] = data['hasil'].apply(target_encode)

In [12]:
data.head()

,hasil,DS,DU,TAR,Boffer Fixed_Baik,Boffer Fixed_Rusak,DIPO_MRL,DIPO_RJS
0,0,13.0,15,100,1,0,1,0
1,0,13.0,15,75,0,1,1,0
2,0,13.0,15,75,1,0,1,0
3,0,13.0,15,100,1,0,1,0
4,1,50.0,40,75,1,0,1,0

In [13]:
X = data.drop('hasil', axis=1)
Y = data['hasil']

In [14]:
X

       DS  DU  TAR  Boffer Fixed_Baik  Boffer Fixed_Rusak  DIPO_MRL  DIPO_RJS
0    13.0  15  100                  1                   0         1         0
1    13.0  15   75                  0                   1         1         0
2    13.0  15   75                  1                   0         1         0
3    13.0  15  100                  1                   0         1         0
4    50.0  40   75                  1                   0         1         0
..    ...  ..  ...                ...                 ...       ...       ...
235  10.0  15   75                  0                   1         0         1
236  10.0  15   75                  0                   1         0         1
237  10.0  15   75                  0                   1         0         1
238  50.0  15   75                  0                   1         0         1
239  10.0  15   75                  1                   0         0         1

[240 rows x 7 columns]

In [15]:
Y

0      0
1      0
2      0
3      0
4      1
      ..
235    0
236    0
237    0
238    1
239    0
Name: hasil, Length: 240, dtype: int64

In [16]:
# Model NBC
from sklearn.naive_bayes import GaussianNB
model = GaussianNB()
model.fit(X, Y)

GaussianNB()

In [17]:
# Menyimpan Model NBC
import pickle 
pickle.dump(model, open('dataset.pkl', 'wb'))